<!--
To. 명석이 형
제가 플랫폼 장르 태그들 들어갈 테이블 form 태그 안에 넣어놨어요
일단 장르는 네임을 genre[] 이렇게 하면 genre["액션", "판타지"]
이렇게 들어갑니다...

이제 태그들이랑 플랫폼도 이렇게 하시면 .. 될거같아요

형이 해야하실 건 
routes.rb 파일에
/finder/:genre => webtoon#finder 이렇게 연결한거처럼
/:플랫폼 => 
/:태그 =>

이렇게 연결해야되는데

아마 장르랑 플랫폼 선택 했을 때,
장르랑 태그 선택 했을 때,
플랫폼이랑 태그 선택 했을 때,
장르 플랫폼 태그 다 선택 했을 때 같이
모든 경우의 수를 routes.rb에 써야되지 않을까 .. 싶어요

그리고 컨트롤러 보시면
Webtoon.where 문으로 선택된 장르가 있는 것들 찾아놨는데
장르 플랫폼 태그 중에 2개 이상 선택했을 때는 어떻게 할 지 ,,,,

내일 봬요 형,,,,
-->
<script>webtoon_id = 1</script>
<% webtoon_id = 1 %>

<h1>Webtoon#finder</h1>

<!-- 장르, 플랫폼 등 필터링 -->
<form action="/finder">
    <table border="1">
        <tr>
            <td style="width: 200px">
                <input type="checkbox" name="genre[]" value="판타지" /> 판타지 <br>
                <input type="checkbox" name="genre[]" value="액션" /> 액션 <br>
                <input type="checkbox" name="genre[]" value="일상" /> 일상 <br>
                <input type="checkbox" name="genre[]" value="개그" /> 개그 <br>
                <input type="checkbox" name="genre[]" value="드라마" /> 드라마
            </td>
            <td style="width: 200px">
                <input type="checkbox" name="tag[]" value="먼치킨" /> 먼치킨 <br>
                <input type="checkbox" name="tag[]" value="동양풍" /> 동양풍 <br>
                <input type="checkbox" name="tag[]" value="멘붕" /> 멘붕 <br>
                <input type="checkbox" name="tag[]" value="가족" /> 가족 <br>
                <input type="checkbox" name="tag[]" value="따뜻" /> 따뜻 <br>
                <input type="checkbox" name="tag[]" value="잔인" /> 잔인 <br>
                <input type="checkbox" name="tag[]" value="패션" /> 패션 <br>
                <input type="checkbox" name="tag[]" value="우주" /> 우주 <br>
                <input type="checkbox" name="tag[]" value="연예인" /> 연예인 <br>
                <input type="checkbox" name="tag[]" value="주체적 여성" /> 주체적 여성 <br>
                <input type="checkbox" name="tag[]" value="여장 남자" /> 여장 남자 <br>
                <input type="checkbox" name="tag[]" value="외모지상주의" /> 외모지상주의 <br>
                <input type="checkbox" name="tag[]" value="무거움" /> 무거움 <br>
                <input type="checkbox" name="tag[]" value="이세계" /> 이세계 <br>
                <input type="checkbox" name="tag[]" value="얀데레" /> 얀데레 <br>
                <input type="checkbox" name="tag[]" value="뱀파이어" /> 뱀파이어 <br>
                <input type="checkbox" name="tag[]" value="회사" /> 회사 <br>
                <input type="checkbox" name="tag[]" value="대학교" /> 대학교 <br>
                <input type="checkbox" name="tag[]" value="범죄" /> 범좌 <br>
                <input type="checkbox" name="tag[]" value="사랑과 우정사이" /> 사랑과 우정사이 <br>
                <input type="checkbox" name="tag[]" value="소꿉친구" /> 소꿉친구 <br>
            </td>
            <td style="width: 200px">
                <input type="checkbox" name="platform[]" value="네이버" /> 네이버 <br>
                <input type="checkbox" name="platform[]" value="다음" /> 다음 <br>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="선택">
            </td>
        </tr>
    </table>
</form>

<% @webtoons.each do |webtoon| %>

    <script>
    $(function () {
        $("#webtoon_id" + webtoon_id++).rateYo({
            starWidth: "40px",
            halfStar: true,
            onSet: function (rating, rateYoInstance) {
                // alert("Rating is set to: " + rating);
                window.location.href = "/webtoon/save?user_id=<%=current_user.id%>&web_id=<%=webtoon.id%>&rate="+rating;
            }
        });
    });
    
    // Getter
    var onSet = $("#webtoon_id" + webtoon_id).rateYo("option", "onSet"); //returns the function
     
    // Setter
    $("#webtoon_id" + webtoon_id).rateYo("option", "onSet", function () {
        console.log("This is a new function");
    }); //returns a jQuery Element
    </script>
    
    <p><%= webtoon.name %></p>
    <!-- 웹툰과 사용자의 연결된 관람 정보 -->
    <% if Watched.exists?(:user_id => current_user.id, :web_id => webtoon.id) %>
        <% rate = Watched.find_by(:user_id => current_user.id, :web_id => webtoon.id) %>
        <div id=<%= 'webtoon_id' + webtoon_id.to_s %> data-rateyo-rating='<%=rate.rate%>'> </div>
    <% else %>
        <div id=<%= 'webtoon_id' + webtoon_id.to_s %>> </div>
    <% end %>

    <% webtoon_id += 1 %>
<% end %>

