<!DOCTYPE html>
<html>
<head>
  <title>WEBCHU</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
  
</head>
<body>

<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">WEBCHU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/recommend">취향저격</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/finder">작품찾기</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/suggest">오타쿠양성</a>
      </li>
    </ul>
    <span class="navbar-text">
      <% if user_signed_in? %>
        <a href="/mypage/<%= current_user.id %>">Mypage</a>
        <a href="/users/sign_out" data-method="delete">sign_out</a>
      <% else %>
        <a href="/users/sign_in">sign_in</a>
      <% end %>
    </span>
  </div>
</nav>

<!-- RoR Flash -->
<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
<% end -%>

<%= yield %>


</body>
</html>
